a {
    text-decoration: none !important;
}
.app-main {
    background-color: #0E1E31;
}
.app {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #0E1E31;
}

/* .login-modal .modal-content {

    width: 95%;
    margin: 0 auto;
    max-width: 470px; 
    background-color: #182a3e !important;
    color: #e0ac59 !important;
    border-radius: 30px;
}

.login-modal .modal-content .modal-title {
   padding-left: 12px;
}

.login-modal .modal-content .reg-btn {
    border-radius: 0.375rem;
    margin-top: 5px;
 } */

.app-content {
    flex: 1;
}

.full-width-body .app {
    max-width: 100vw !important;
}

.offcanvas {
    background-color: #182a3e !important;
}

.login-btn-text {
    color: #e0ac59;
    margin-left: 20px;
}
@media(min-width: 481px) {
    .app {
        max-width: 100vw;
        margin: 0 auto;
    }
}

@font-face {
    font-family: ProductSans;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../../public/assets/fonts/ProductSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: ProductSans;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../../public/assets/fonts/ProductSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: ProductSans;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../../public/assets/fonts/ProductSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: ProductSans;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../public/assets/fonts/ProductSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: ProductSans;
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('../../public/assets/fonts/ProductSans-Thin.ttf') format('truetype');
}