.auth-card {
    background-color: #1f354b;
    border-radius: 21px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.383);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    margin: 80px auto;
    width: 97%;
    max-width: 900px;
}

.auth-header {
    font-size: 24px;
    font-family: ProductSans;
    width: 90%;
    text-align: left;
}

@media(min-width: 550px) {
    .auth-header {
        font-size: 30px;
    }
}