:root {
    --bs-primary: #182a3e !important;
    --bs-primary-rgb: #182a3e !important;
    --bs-secondary: #e0ac59 !important;
    --bs-success: #10b981;
    --bs-danger: #ef4444;
    --bs-yelloww: #e0ac59 !important;
  }