.datepicker {
    padding: 8px;
    margin-top: 6px;
    width: 100%;
    height: 32px;
    border-radius: 0.375rem;
    border-width: 2px;
    background-color: #182a3e;
    border-color: #ffffff33;
    color: #ffffff;
}

.react-datepicker-wrapper {
    width: 100%;
}

.create-game-card {
    background-color: #1f354b;
    border-radius: 21px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.383);
    position: relative;
    width: 97%;
    margin: 0 auto;
}