.logo-pic {
    width: 90px;
    margin: 0 auto;
}

.logo {
    width: 31px;
    margin: 0 auto;
  }


  .copyright {
    padding-top: 13px;
    font-family: ProductSans;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: center;
    color: #ffffff50;
  }

  .link {
    width: 100%;
    text-decoration: none;
    text-align: center;
    font-family: ProductSans;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
    color: #c8c6b2;
    margin: 0 auto;
  }