.game-card__outer-container {
    background-color: #e0ac59 !important; /* Dark blue background */
    border-radius: 30px !important;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.383);
    padding: 2px; /* Make space for the orange border */
    display: flex;
    justify-content: center; /* Center inner container horizontally */
    align-items: flex-end;
    height: 380px;
    width: 100%;
    margin: 15px auto;
    position: relative;
}

.outer-container.registration-closed::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #cccccc80;
    border-radius: inherit;
    z-index: 3;
}

.outer-container > * {
    position: relative;
    z-index: 2;
}

.top-border {
    height: 47px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: #ffffff70;
    padding: 10px 20px;
    border-radius: 8px;
    height: 50px;
    width: 100%;
    z-index: 4; 
    text-align: center;
}
.inner-container {
    background-color: #182A3E;
    border-radius: 30px;
    width: 100%;
    height: 330px;
    padding: 0;
    position: relative;
}

.content {
    border-radius: 30px;
    padding: 10px;
    overflow: hidden;
    display: flex;
    margin-top: 1.5%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.inner-content {
    border-radius: 18px;
    background-color: #0A1221;
    width: 97%;
}

.yellow-text {
    color: #e0ac59;
}

.card-separator {
    border-top: 2px solid #e0ac59;
    color: #e0ac59;
}

.time-content {
    border-radius: 18px;
    background-color: #0A1221;
}

.full-width {
    width: 97%;
}

.registration-closed {
    background-color: #ffffff30;
    z-index: 2;
    
    height: 380px;
    border-radius: 30px;
}

.reg-button {
    border: 2px solid #e0ac59;
    background-color: #182A3E;
}

.registration-button {
    width: 100%;
    height: 56px;
    border-radius: 16px !important;
    background-color: #F4DA6A !important;
    font-weight: 700 !important;
    font-size: 17px !important;
    line-height: 24px !important;
    text-transform: uppercase;
}

.admin-players-button {
    border-radius: 16px !important;
    background-color: #F4DA6A !important;
    color: black;
    font-weight: 700 !important;
    font-size: 17px !important;
    line-height: 24px !important;
    text-transform: uppercase;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.players-button {
    width: 100%;
    height: 56px;
    border-radius: 16px !important;
    background-color: #F4DA6A !important;
    font-weight: 700 !important;
    font-size: 17px !important;
    line-height: 24px !important;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.game-card {
    background-color: #0E1E31 !important;
    width: 908px;
    border-radius: 30px !important;
    border: none !important;
}

.date-header {
    background-color: #F0A773 !important;
    border-radius: 0 30px 0 0 !important;
    height: 66px;
    padding: 16px 32px 16px 32px !important;
}

.game-card__main {
    padding: 28px 32px 32px 32px !important;
}

.game-description {
    background-color: #0E1E31 !important;
    color: white !important;
    border: none !important;
}

.season-badge {
    height: 28px !important;
    background-color: #1C3652 !important;
    font-weight: 400 !important;
    font-size: 14px;
    color: #A8BDD4 !important;
    width: fit-content;
}

.theme-badge {
    height: 28px !important;
    font-weight: 400 !important;
    font-size: 14px;
    width: fit-content;
    background-color: #06758E !important;
    color: white;
    position: absolute;
    top: 24px;
    left: 24px;
}

.caption-text {
    height: 56px;
    color: #63EA57;
    display: flex;
    align-items: center;
}

.game-finished-button {
    width: 100%;
    text-transform: uppercase;
    height: 56px;
    border-radius: 16px !important;
    background-color: #5991FF !important;
    color: white !important;
    font-weight: 700 !important;
    font-size: 17px !important;
    line-height: 24px !important;
}

.game-card__main-stack {
    gap: 14px
}

.desc-card {
    background-color: #0E1E31 !important;
    color: white !important;
    border: none !important
}

.desc-card__title {
    font-weight: 700 !important;
    font-size: 18px !important;
    line-height: 22px !important;
    margin: 0 !important;
}

.desc-card__caption {
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 22px !important;
    color: #869EBA !important;
}
.game-card__img {
    background-color: #49D2F1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center
}
.date-header__date {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.date-header__day {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #A6683B
}

.date-header__time {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.admin-controls {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #182A3E;
    width: 140px;
    height: 62px;
    z-index: 1;
    border-radius: 0 30px 0 0;
    padding-top: 14px;
    padding-right: 14px;
    z-index: 3;
}

.edit-game-button {
    position: absolute;
    left: 0;
    width: 56px !important;
    height: 48px !important;
    border-radius: 16px !important;
    background-color: #496079 !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    border: none !important;
}

.delete-game-button {
    position: absolute;
    left: 70px;
    border: none !important;
    width: 56px !important;
    height: 48px !important;
    border-radius: 16px !important;
    background-color: #AF2E3B !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.registration-modal .modal-content  {
    width: 742px;
    height: 1401px;
    gap: 42px;
    border-radius: 52px;
    padding: 36px;
    background-color: #0E1E31;
}

.registration-modal__title {
    width: 670px;
    height: 394px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.registration-title-row {
    width: 670px;
    height: 40px;
    gap: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.registration-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: white;
}

.btn,
.btn.registration-modal__close-btn {
    width: 36px;
    height: 36px;
    border-radius: 9px !important;
    padding: 11px;
    background-color: #496079;
    display: flex;
}

.information-area {
    width: 670px;
    height: 314px;
    gap: 32px;
}

.card-information {
    width: 670px;
    height: 156px;
    justify-content: space-between;
    border-radius: 30px;
    display: flex;
    overflow: hidden;
}

.card-information__title {
    width: 473px;
    height: 162px;
    gap: 12px;
    padding: 24px;
    background-color: #BFF5FF;
}

.card-information__date {
    width: 197px;
    height: 156px;
    gap: 8px;
    padding-top: 10px 24px;
    background-color: #49D2F1;
}

.additional-info {
    width: 670px;
    height: 44px;
    gap: 42px;
}

.reserve-warning {
    width: 670px;
    height: 50px;
    gap: 10px;
    padding: 14px 0;
    border-radius: 16px;
    background-color: #FDCDCD;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    color: #B93C3C
}


@media(min-width: 481px) {
    .outer-container {
        height: 380px;
        width: 500px;
    }

    .inner-container {
        height: 330px;
    }

    .top-border {
        height: 60px
    }

    .top-border-text {
        font-size: 22px !important;
    }

    .reg-button {
        margin-top: 1.75rem !important;
    }
    
}