.games-list {
    width: 100%;
    flex-direction: column;
}

.create-button {
    display: block;
    width: 95%;
    margin: 0 auto;
}

.no-games-card {
    margin: 0 auto;
    color: white;
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    width: 55%;
}

@media(min-width: 481px) {
    .games-list {
        /* width: 480px; */
        width: 70%;
        margin: 0 auto;
        flex-direction: row !important;
        flex-wrap: wrap;
        justify-content: center;
    }
    .create-button {
        max-width: 400px;
        margin: 0 auto;
    }
}

@media(min-width: 1497px) {
    .games-list {
        justify-content: space-around;
    }
}

@media(min-width: 2230px) {
    .games-list {
        justify-content: space-between;
    }
}