.game-card__outer-container {
    background-color: #e0ac59 !important; /* Dark blue background */
    border-radius: 30px !important;
    padding: 2px; /* Make space for the orange border */
    display: flex;
    justify-content: center; /* Center inner container horizontally */
    align-items: flex-end;
    height: 380px;
    width: 100%;
    margin: 15px auto;
    position: relative;
}

.outer-container.registration-closed::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #cccccc80;
    border-radius: inherit;
    z-index: 3;
}

.outer-container > * {
    position: relative;
    z-index: 2;
}

.top-border {
    height: 47px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: #ffffff70;
    padding: 10px 20px;
    border-radius: 8px;
    height: 50px;
    width: 100%;
    z-index: 4; 
    text-align: center;
}
.inner-container {
    background-color: #182A3E;
    border-radius: 30px;
    width: 100%;
    height: 330px;
    padding: 0;
    position: relative;
}

.content {
    border-radius: 30px;
    padding: 10px;
    overflow: hidden;
    display: flex;
    margin-top: 1.5%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.inner-content {
    border-radius: 18px;
    background-color: #0A1221;
    width: 97%;
}

.yellow-text {
    color: #e0ac59;
}

.card-separator {
    border-top: 2px solid #e0ac59;
    color: #e0ac59;
}

.time-content {
    border-radius: 18px;
    background-color: #0A1221;
}

.full-width {
    width: 97%;
}

.registration-closed {
    background-color: #ffffff30;
    z-index: 2;
    
    height: 380px;
    border-radius: 30px;
}

.reg-button {
    border: 2px solid #e0ac59;
    background-color: #182A3E;
}


@media(min-width: 481px) {
    .outer-container {
        height: 380px;
        width: 500px;
    }

    .inner-container {
        height: 330px;
    }

    .top-border {
        height: 60px
    }

    .top-border-text {
        font-size: 22px !important;
    }

    .reg-button {
        margin-top: 1.75rem !important;
    }
    
}