.modal .modal-content {
    width: 600px;
    height: 478px;
    gap: 28px;
    padding: 16px;
    border-radius: 24px;
    background-color: #0E1E31;
    color: white;
}    

.modal .modal-title {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0%;
}

.form-label {
    font-weight: 700;
    font-size: 19px;
    line-height: 20px;
    letter-spacing: 0%;
}

.modal-input-field.form-control {
    width: 480px;
    height: 48px;
    padding: 13px 12px;
    border-radius: 12px;
    background-color: #1C3652;
    border: none;
    width: 100%;
    color: #5D738B;
}

.modal-input-field.form-control::placeholder {
    color: #5D738B;
    opacity: 1; 
}

.login-btn__container {
    height: 76px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.modal-login-btn.btn {
    width: 153px;
    height: 48px;
    padding: 15px 14px;
    border-radius: 14px !important;
    background-color: #F4DA6A;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.close-modal-btn {
    align-self: end;
}

.header {
    background-color: transparent;
    height: 100px;
    z-index: 1;
    width: 1280px;
    justify-self: anchor-center;
}

.btn, 
.btn.login-button {
    width: 106px;
    height: 52px;
    background-color: #496079;
    color: white;
    border-radius: 14px ;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.badge,
.badge.admin-badge {
    width: 54px;
    height: 28px;
    border-radius: 6px;
    background-color: #06758E;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0%;
    justify-self: center;
    gap: 5px;
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    margin: auto;
    display: flex;
    align-items: center;
    z-index: 1
}

.btn, 
.btn.account-btn {
    width: 52px;
    height: 52px;
    border-radius: 26px !important; 
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #496079;
    color: white;
    border-radius: 14px ;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.btn, 
.btn.logout-btn {
    width: 54px; 
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: end;
}

.navbar-nav, .nav-tabs {
    display: flex;
    align-items: center;
    width: 589px;
    padding: 0;
    margin: 0;
}

.navbar .container {
    margin: 0 32px;
    padding: 0;
    max-width: none;
}

.navbar .nav-link,
.nav-tabs .nav-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: #A8BDD4;  
}