h1 {
    padding-bottom: 3vh;
    font-family: ProductSans;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 2px;
    text-align: center;
    color: white;
}
table {
    background: #0f1a2e;
    border-radius: 15px;
    border-collapse: collapse;
    margin: 0 auto;
    width: 97%;
    overflow-x: auto;
}
th {
    font-family: ProductSans;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #e0ac59;
    padding: 10px;
}
tbody {
    font-family: ProductSans;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: white;
}

.container {
    margin: 0 auto;
}