h1 {
    padding-bottom: 3vh !important;
    font-family: ProductSans !important;
    font-size: 36px !important;
    font-weight: 700 !important;
    line-height: 36px !important;
    letter-spacing: 2px !important;
    text-align: center !important;
    color: white !important;
}
.participants-table {
    background-color: #0f1a2e !important;
    border-radius: 15px !important;
    border-collapse: collapse !important;
    margin: 0 auto !important;
    width: 97% !important;
    overflow-x: auto !important;
    padding: 12px;
}
th {
    font-family: ProductSans !important;
    font-size: 15px !important;
    font-weight: 700 !important;
    line-height: 24px !important;
    letter-spacing: 0px !important;
    text-align: left !important;
    color: #e0ac59 !important;
    padding: 10p !important;
    padding: 8px;
}
tbody {
    font-family: ProductSans !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    letter-spacing: 0px !important;
    text-align: left !important;
    color: white !important;
}

.container {
    margin: 0 auto;
}

.button-container {
    margin-bottom: 15px !important;
}

td {
    border-bottom: 1px solid #ffffff50 !important;
    text-align: center !important;
    padding: 8px;
}