.registration-card {
    background-color: #1f354b;
    border-radius: 21px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.383);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 97%;
    max-width: 900px;
    margin: 0 auto;
}

.register-header {
    font-size: 24px;
    font-family: ProductSans;
    width: 90%;
    text-align: left;
}

.game-num {
    font-size: 21px;
    font-family: ProductSans;
    color: #f4da6a;
    width: 90%;
    text-align: left;
}

.info-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin-top: 10px;
}

.info-text {
    color: white;
    font-family: ProductSans;
    font-weight: 400;
    font-size: 12px;
    margin-left: 8px;
}

.btn-container {
    width: 90%;
    font-size: 12px;
    padding-bottom: 30px;
  }
form {
    width: 90%;
}

  .block-input {
    margin-top: 11px;
    width: 100%;
    height: 51px;
  }

  .block-text {
    font-size: 13px;
    line-height: 15px;
    font-family: ProductSans;
    font-weight: 700;
    color: #ffffff;
  }

  .star {
    color: #f4da6a;
  }

.input {
    padding: 8px;
    margin-top: 6px;
    width: 100%;
    height: 32px;
    border-radius: 12px;
    border-width: 2px;
    background-color: #182a3e;
    border-color: #ffffff33;
    color: #ffffff;
}
.reg-btn {
    background-color: #182a3e;
    border: 1.33428px solid #f4da6a;
    border-radius: 17.3457px;
    width: 100%;
    height: 35px;
    font-family: ProductSans;
    font-weight: 700;
    font-size: 17px;
    color: #ffffff;
    cursor: pointer;
  }

  .agreement {
    font-family: ProductSans;
    font-weight: 400;
    font-size: 15px;
    color: white;
  }
  
  a {
    text-decoration: none;
  }

  .agreement-link {
    color: #f4da6a;
  }

  .input {
    @apply p-2 border rounded-md;
  }
  
  .error {
    @apply border-red-500;
  }
  
  .error-message {
    @apply text-red-500 text-sm;
  }
  .modal-content {
    width: 95%;
    max-width: 900px;
  }

  

@media(min-width: 550px) {
  .register-header {
    font-size: 30px;
  }

  .game-num {
    font-size: 30px;
  }

  .info-text {
    font-size: 20px;
  }

  .block-input {
    margin-top: 20px;
    height: 70px;
  }

  .block-text {
    font-size: 20px;
  }
  .input {
    font-size: 20px;
    margin-top: 15px;
  }

  .reg-btn {
    font-size: 20px;
    height: 40px;
  }
}

@media(min-width: 790px) {

  .input {
    height: 45px;
  }

  .reg-btn {
    font-size: 22px;
    height: 45px;
  }

  .modal-title {
    font-size: 30px !important;
  }

  .modal-body {
    font-size: 30px !important;
  }
}